<a href="https://colab.research.google.com/github/JamandreJanNathan/58002_OOP/blob/main/LOOP_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [27]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
  if x == "Thursday":break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [31]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break 
    print(x)

In [32]:
for x in "week":
  print(x)

w
e
e
k

In [25]:
for y in range (10):
  print("Hello",y+1)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [24]:
for y in range (7):
  print(y + 4)

4
5
6
7
8
9
10

In [34]:
class Person:
    def __init__(self, name):
        self.name = name
    
    def display_name(self):
        print("My name is", self.name)

# Example usage:
p = Person("Jamandre, Jan Nathan")
p.display_name()

My name is Jamandre, Jan Nathan